# Cleaned Data
This notebook can be used for querying the database

## Set Up

In [ ]:
!pip3 install ipython-sql
!pip3 install sqlalchemy
!pip3 install psycopg2

In [2]:
%load_ext sql

In [19]:
# Connect to PostgreSQL database
#Format: postgresql://{DB_USER}:{'DB_PASSWORD'}@{DB_HOST}:{DB_PORT}/{DB_NAME}
%sql postgresql://postgres:@localhost:5432/dsa3101

## Loading tables into database

In [32]:
%%sql
CREATE TABLE IF NOT EXISTS products (
	product_id VARCHAR(50) PRIMARY KEY,
	product_name VARCHAR(500),
	about_product TEXT,
	category VARCHAR(255),
actual_price NUMERIC(10,2),
discounted_price NUMERIC(10,2),
discount_percentage NUMERIC (5,2)
);

COPY products(product_id, product_name, about_product,category,actual_price,discounted_price,discount_percentage)
FROM '/Users/user/Desktop/demand_forecast/data/products.csv' --replace with your own path
DELIMITER ','
CSV HEADER;

 * postgresql://postgres:***@localhost:5432/dsa3101
Done.
1351 rows affected.

[]

In [33]:
%%sql
CREATE TABLE IF NOT EXISTS ratings (
    product_id VARCHAR(50) PRIMARY KEY,
    average_rating FLOAT,	
    review_title VARCHAR(1000),
    review_content TEXT,
	rating_count INTEGER,
    FOREIGN KEY (product_id) REFERENCES products(product_id) ON DELETE CASCADE
);

COPY ratings(product_id, average_rating, review_title,review_content,rating_count)
FROM '/Users/user/Desktop/demand_forecast/data/ratings.csv' --replace with your own path
DELIMITER ','
CSV HEADER;

 * postgresql://postgres:***@localhost:5432/dsa3101
Done.
1351 rows affected.

[]

In [37]:
%%sql
CREATE TABLE IF NOT EXISTS daily_sales (
	transaction_id INTEGER PRIMARY KEY,
	date DATE,
    product_id VARCHAR(50) NOT NULL,
    quantity INTEGER,
    FOREIGN KEY (product_id) REFERENCES products(product_id) ON DELETE CASCADE
);

COPY daily_sales(transaction_id, date, product_id,quantity)
FROM '/Users/user/Desktop/demand_forecast/data/daily_sales.csv'
DELIMITER ','
CSV HEADER;

SELECT *
FROM daily_sales
LIMIT 5;

 * postgresql://postgres:***@localhost:5432/dsa3101
Done.
Done.
887 rows affected.
5 rows affected.

[(1601, datetime.date(2018, 3, 21), 'B014I8SX4Y', 1),
 (2872, datetime.date(2022, 11, 27), 'B014I8SSD0', 1),
 (4832, datetime.date(2018, 4, 12), 'B06XR9PR5X', 1),
 (5496, datetime.date(2020, 12, 24), 'B015OW3M1W', 1),
 (7115, datetime.date(2019, 8, 24), 'B006LW0WDQ', 1)]

In [29]:
%%sql
DROP TABLE IF EXISTS ratings;
DROP TABLE IF EXISTS daily_sales;
DROP TABLE IF EXISTS products;

 * postgresql://postgres:***@localhost:5432/dsa3101
Done.
Done.

[]

If you need to re create the tables, drop them first in this order